@charset "UTF-8";

:root {
    --fondo: #eceff1;
    --figura: #263238;
    --destacado: #4f5b62;
    --activo: #000a12;
    --sombra: rgba(68, 90, 99, 0.1);
}

body {
    color: var(--figura);
    background: var(--fondo);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    text-align: left;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: var(--destacado);
    text-decoration: none;
}

a:hover {
    color: var(--activo);
    text-decoration: none;
}

:hover {
    transition: all ease 0.1s;
}

header,
footer {
    padding-left: 10vw;
    padding-right: 10vw;
}

main {
    padding-left: 9vw;
    padding-right: 9vw;
}

@media screen and (orientation: portrait) {
    header,
    footer {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    main {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

h1 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 1.2;
    color: var(--destacado);
}

body.portada main div {
    width: 15%;
    padding: 1.5%;
    margin: 1%;
    background: rgb(212, 220, 221);
    display: inline-block;
    vertical-align: top;
    font-size: 0.9rem;
    line-height: 1.3;
    box-shadow: 0 0 0.1rem var(--sombra);
    min-height: 15vh;
}

body.portada main div:hover {
    box-shadow: none;
    transform: scale(1.05);
}

@media screen and (orientation: portrait) {
    body.portada main div {
        width: 41%;
        padding: 3%;
        margin: 1.5%;
    }
}

body.portada main div h3,
body.portada main div p {
    margin: 0 0 0.5rem 0;
    padding: 0;
}

body.portada main div a {
    text-decoration: underline;
}

body.portada main div a:hover {
    text-decoration: none;
}

main div#mapa {
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 0.2rem var(--sombra);
}

footer {
    padding-top: 5vh;
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
}

footer p {
    width: 100%;
}