@charset "UTF-8";

:root {
    --fondo: #fff;
    --figura: #222;
    --destacado: #444;
    --activo: #000;
    --mar:#d3dadb;
    --tierra:#F2F2F0;
}

body {
    color: var(--figura);
    background: var(--fondo);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    text-align: left;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: var(--destacado);
    text-decoration: none;
}

a:hover {
    color: var(--activo);
    text-decoration: none;
}

:hover {
    transition: all ease 0.1s;
}

header,
footer {
    padding-left: 10vw;
    padding-right: 10vw;
}

main {
    padding-left: 9vw;
    padding-right: 9vw;
}

@media screen and (orientation: portrait) {
    header,
    footer {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    main {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

h1 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    line-height: 1.2;
    color: var(--destacado);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section div {
    width: 22%;
    margin: 1.5%;
    background: var(--mar);
}

section div.chileno{
    background:var(--tierra);
}

section div:hover {
    transform: scale(1.025);
}

@media screen and (orientation: portrait) {
    section div {
        width: 47%;
        margin: 1.5%;
    }
}

section div h2,
section div p {
    margin: 0.5rem 0;
    padding: 0 0.75rem;
}

section div a {
    text-decoration: underline;
}

section div a:hover {
    text-decoration: none;
}

main div#mapa {
    width: 100%;
    height: 60vh;
}

footer {
    padding-top: 5vh;
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
}

footer p {
    width: 100%;
}