@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(270deg, rgb(200, 235, 235), rgb(175, 200, 200));
    color: #333;
}

a {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.75);
    transition: color ease .5s;
}

div.container {
    width: 80vw;
    margin: 0 auto;
}

nav, footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
}

nav p, footer p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    text-decoration: underline;
    color: black;
}

main {
    width: 100%;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

main div {
    width: 50%;
    height: 80vh;
    float: left;
    display: flex;
}

@media (orientation:portrait) {
    main div {
        width: 100%;
        height: auto;
        float: none;
    }
}

main div:nth-child(1) article {
    align-self: center;
    padding: 3rem 0;
}

@media (orientation:landscape) {
    main div:nth-child(1) article {
        padding-right: 5rem;
    }
}

main div:nth-child(1) article h1 {
    font-size: calc(1.5rem + 1vw);
    line-height: 1.1;
    margin-bottom: 1rem;
}

main div:nth-child(1) article p {
    line-height: 1.4;
}

main div:nth-child(1) article blockquote {
    font-style: normal;
    line-height: 1.6;
}

main div:nth-child(1) article blockquote cite {
    font-style: normal;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size:90%;
}

main div:nth-child(2) aside {
    align-self: center;
}

main div:nth-child(2) img {
    width: 100%;
    height: auto;
}

main div:nth-child(2):after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}