@charset "UTF-8";

html{
        background: linear-gradient(135deg, rgba(230, 170, 140, .9), rgba(150, 100, 75, .9)), url('images/camion.jpg') right bottom no-repeat fixed;
        min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

div.container {
    width: 80vw;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-flow: column wrap;
}

header, footer{
  margin:auto 2vw;
}

main{
  margin:auto 0;
}

header h1{
    font-size:calc(1rem + 2vw);
    line-height: 1;
}

header h2{
    font-size:calc(1rem + 1vw);
    line-height: 1;
}

main section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main section article {
    border-radius: 5px 5px;
    width: calc(50% - 4vw);
    margin: 1vh 1vw;
    padding:1.5vh 1vw;
    background:rgba(255,255,255,0.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);    
}

@media (orientation:landscape){
    main section article {
        width: calc(25% - 4vw);
        margin: 1vh 1vw;
        padding:2vh 1vw;
    }
}

main canvas{
    background:rgba(255,255,255,0.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 5px 5px;
}

footer p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}