@charset "UTF-8";

html{
        background: linear-gradient(135deg, rgba(240, 170, 140, .9), rgba(150, 100, 75, .9)), url('images/camion.jpg') right bottom no-repeat fixed;
        min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

a{color:black;}

div.container {
    width: 80%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
}

header, main, footer{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

header div {
        width: 96%;
        margin: 1%;
        padding:1%; 
}

header div:nth-child(2) {
        display:none;
}

@media (orientation:landscape){
    header div{
        width: 46%;
        margin: 1%;
        padding:1%;    
    }
    header div:nth-child(2) {
        display:block;
    }
}

header h1{
    font-size:calc(3.5rem - 2vw);
    line-height: 1;
}

header h2{
    font-size:calc(1rem + 1vw);
    line-height: 1;
}

header h3{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

main{
    min-height: 50vh;
    padding-bottom:5vh;
}

main article {
    border-radius: 5px 5px;
    width: 44%;
    margin: 1%;
    padding:2%;
    background:rgba(255,255,255,0.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);    
}

@media (orientation:landscape){
    main article {
        width: 21%;
        margin: 1%;
        padding:1%;
    }
}

main canvas{
    background:rgba(255,255,255,0.1);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 5px 5px;
}

footer p{
    width: 96%;
    margin:2%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}