@charset "UTF-8";

:root {
    --fondo: #eee;
    --gris: #ddd;
    --figura: #444;
    --sinserifa: Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--figura);
    background: var(--fondo);
    font-family: var(--sinserifa);
    font-size: 100%;
    line-height: 1.38;
}

a {
    /* de esto se encarga usted */
}

a:hover {
    /* de esto se encarga usted */
}

header h1 {
    float: left;
    width: 16vw;
    padding: 2vh 2vw;
    overflow: hidden;
}

header nav {
    float: left;
    width: 80vw;
}

header hr {
    border: 1px solid var(--gris);
    clear: both;
}

@media screen and (orientation: portrait) {
    header h1 {
        width: 96vw;
        background: var(--gris);
    }
    header nav {
        width: 100vw;
    }
}

header nav ul {
    display: inline-table;
    list-style: none;
    width: 100%;
}

header nav ul li {
    display: table-cell;
    text-align: center;
    padding-top: 3.5vh;
    padding-bottom: 2.5vh;
}

header nav ul li:nth-child(1) {
    width: 25%;
}

header nav ul li:nth-child(2) {
    width: 35%;
}

header nav ul li button {
    padding: 0.3rem 0.5rem;
    margin-right: 1rem;
    cursor: ;
}

main {
    height: 70vh;
    background: white;
}

@media screen and (orientation: landscape) {
    main {
        height: 79vh;
    }
}

footer {
    border-top: 1px solid var(--gris);
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

footer p {
    width: 96vw;
}