@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
    --fondo: rgb(245, 245, 245);
    --gris: #ddd;
    --figura: #444;
}

::selection {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    transition: all ease 0.25s;
}

body {
    line-height: 1.38;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #111;
}

header {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: calc(100vw - 3.1rem);
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px 3px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.7);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

header div {
    font-size: 0.9rem;
    padding: 0.75rem;
}

header div h1 {
    font-size: calc(0.9rem + 1vw);
}

@media (orientation:portrait) {
    header div h1 span{
        display:none;
    }
}

header div input[type="color"] {
    border-radius: 3px 3px;
    width: 2rem;
    background: #fff;
    padding: 0;
}

header div select {
    border-radius: 3px 3px;
    border: 1px solid #999;
    padding: 0.1rem 0.15rem 0.25rem 0.15rem;
    margin-left:1vw;
    width: 20vw;
}

@media (orientation: landscape) {
    header div select {
        width: 10vw;
    }
}

main button {
    position: absolute;
    bottom: 1.75rem;
    right: 1.75rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50% 50%;
    border: 1px solid rgba(255, 81, 92, 0.05);
    background-color: rgba(214, 66, 74, 0.75);
    color: white;
    letter-spacing: 0.075rem;
    text-align: center;
    box-shadow: 0 0 3px rgba(100, 100, 155, 0.5);
    outline: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

main button:hover {
    background-color: rgba(214, 66, 74, 1);
    box-shadow: 0 0 3px rgba(100, 100, 100, 0.75);
    cursor: pointer;
}

main {
    height: 100vh;
    width: 100vw;
}
