@charset "UTF-8";

/* 
Este es un comentario de CSS. 
Se ve igual al comentario de varias líneas de Javascript.
La diferencias es que en CSS este comentario aplica a cualquier cantidad de líneas (una o muchas)
*/

:root {
    --fondo: rgb(205, 205, 205);
    --figura: rgb(55, 55, 55);
    --destacado: black;
    --activo: blue;
    --sinserifa: Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--figura);
    background: var(--fondo);
    font-family: var(--sinserifa);
    font-size: 100%;
    line-height: 1.6;
}

/* ESTRUCTURAL */

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    min-height: 20vh;
}

main {
    min-height: 70vh;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media screen and (orientation: landscape) {
    main {
        width: 50vw;
        padding-left: 25vw;
        padding-right: 25vw;
    }
}

footer {
    min-height: 10vh;
}

/* TIPOGRÁFICO */

h1 {
    vertical-align: center;
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 5vw;
}

p {
    text-align: justify;
    width: 100%;
}

/* LINKS */

a {
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
    color: var(--destacado);
    background: var(--fondo);
}

a:hover {
    color: var(--activo);
    transition: color ease 0.5s;
}